<p id="notice"><%= notice %></p>

<p>
  <b>Myattr1:</b>
  <%= @my_model.myAttr1 %>
</p>

<p>
  <b>Myattr2:</b>
  <%= @my_model.myAttr2 %>
</p>


<%= link_to 'Edit', edit_my_model_path(@my_model) %> |
<%= link_to 'Back', my_models_path %>
