<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @color.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @color.nombre %>
</p>


<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
